{% extends "base.html" %}

{% block head %}

{% endblock %}
<style>{% block css %}
{#    Created by Hardeep Asrani#}
{#Don't remove credits and you're free to use this#}
{#Blog - hardeepasrani.blogspot.com#}
{#Download This At - css-box.blogspot.com#}

body {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Background.jpg) bottom no-repeat;
	background-color:58169a;
}


span.start {
	color:white;
	font-size:2em;

}

.metro-tile {
{#	background-color: #D8512B;#}
	border-color: #DC6241;
	width: 464px;
	height: 208px;
	padding: 5px;
{#	color: #FFF;#}
	font-family: sans-serif;
	font-size: 12px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transform-style: preserve-3d;
	transition: 0.5s all;
{#    transform: rotateY(180deg);#}
}

.metro-tile-image {
{#	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Image.jpg);#}
	border-color: black;
    margin-top: 120px;
}


div.metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid;
}
{%  endblock %}
</style>

{% block content %}

<center>
<div class="metro-tile metro-tile-image">
<div>
<form class="form-horizontal" action="/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.title.errors }}
<p><label for="id_title">Title:</label> <input id="id_title" maxlength="255" name="title" type="text" /></p>
{{ form.file.errors }}
    <br>
<p><label for="id_file">File:</label> <input id="id_file" name="file" type="file" /></p>
    <br>
<input type="submit" value="Submit">

    <p><br>File must be in .zip format and WGS84</p>
</form>
</div>
</div>
</center>


{% endblock %}